name: Tests

on: [push]

jobs:
  unit:
    runs-on: ubuntu-24.04
    name: Unit tests

    steps:
      - name: Install nvim
        run: |
          wget -O nvim.tar.gz https://github.com/neovim/neovim/releases/download/v0.11.2/nvim-linux-x86_64.tar.gz
          tar -xzf nvim.tar.gz
          sudo ln -s $(pwd)/nvim-linux-x86_64/bin/nvim /usr/local/bin/nvim
          which nvim
          which lua 
      - name: Install luarocks  
        uses: leafo/gh-actions-luarocks@v4 
        with:
          luarocksVersion: "3.8.0"
      - name: Install busted
        run: |
          luarocks install busted
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          busted --run=all

