name: Tests

on: [push]

env:
  BIN_DIR: "${{ github.workspace }}/bin"

jobs:
  unit:
    runs-on: ubuntu-24.04
    name: Unit tests

    steps:
      - name: Install nvim
        run: |
          wget --directory-prefix="$BIN_DIR" https://github.com/neovim/neovim/releases/download/v0.11.2/nvim-linux-x86_64.tar.gz
          cd $BIN_DIR
          tar -xzf nvim*.tar.gz
          echo "$BIN_DIR/nvim-linux-x86_64/bin" >> $GITHUB_PATH
      - name: Install lua
        run: |
          sudo apt install lua5.1
      - name: Install luarocks  
        run: |
          sudo apt install luarocks
      - name: Install busted
        run: |
          sudo luarocks install busted
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          which nvim
          busted --run=all

